/* CSS VARIABLES */
:root{
   --anchor-grey:#333;
   --h1-dark-blue:#232d60;

}
*{
   padding:0;
   margin:0;
}
.container{
   height: 100vh;
   width: 100%;
   background: url(images/background.png);
   background-position: center;
   background-size: cover;
   box-sizing: border-box;
   position: relative;
   padding-left:5px;
   padding-right:5px;

}

.navbar{
   width: 100%;
   height: 15vh;
   margin:auto;
   display: flex;
   align-items: center;

}

.logo{
   width:160px;
   cursor: pointer;
}

.cart{
   width: 40px;
   cursor: pointer;
}
nav{
   flex: 1;
   padding-left: 60px;
}

nav ul li{
   display: inline-block;
   list-style: none;
   margin: 0px 20px;
}

a{
   text-decoration: none;
   color: var(--anchor-grey);
}

.content h1{
   font-size: 60px;
   font-weight: 100;
   margin-top: 24px;
   margin-bottom: 15px ;
   color: var(--h1-dark-blue) ;
}
.content p{
   font-size: 20px;
   color: #6a7199 ;
}

.content{
   margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
  display: inline-block;
  background: linear-gradient(45deg, #87adfe, #ff77cd);
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow-icons{
   margin-top: 40px;
   display: flex;
}
.arrow-icons img{
   width:40px;
   margin-right: 25px;
}
.feature-img{
   height: 90%;
   position: absolute;
   bottom: 0;
   right: 60px;   
}

@media(min-width: 765px){.bx{
   visibility: hidden;   
}}
   @media(max-width: 765px){
   .feature-img{
      height: 50%;
      position: absolute;
      bottom: 0;
      right: 10px;   
   } 

   .bx{
      display: inline-block;
      margin-right: 30px;
      /* height: 30px; */
   }
   .content h1{
      font-size: 30px;
      font-weight: 100;
      margin-top: 19px;
      margin-bottom: 5px ;
      color: var(--h1-dark-blue) ;
   }
   .content p{
      font-size: 16px;
      color: #6a7199 ;
   }
   .arrow-icons{
      margin-top: 16px;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      top: 0;
   }
   
   .arrow-icons img{
      width:20px;
      margin-right: 15px;
   }
   .cart{
      width: 20px;
      margin-right: 20px;
   }
   .container{
      height: 100vh;
      width: 100%;
      background: url(images/background.png);
      background-position: center;
      background-size: cover;
      box-sizing: border-box;  
   }
   nav ul li a{
      display: none;
      list-style: none;
      margin: 0px 20px;
   }
   .logo{
      width:140px;
      cursor: pointer;
   }
   
   .content .btn{
      display: inline-block;
      background: linear-gradient(45deg, #87adfe, #ff77cd);
      border-radius: 6px;
      padding: 10px 20px;
      box-sizing: border-box;
      text-decoration: none;
      color: #fff;
      box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
    }
}

@media screen and (max-width:875px) {
   .navbar.responsive {
     position:fixed;
     width: 100%;
     height: 100vh;
     background-color: rgba(236,201,205, 1);
     transition: background-color .6s;
   }
   
   .navbar.responsive li.logo {
     floatL: left;
     display: block;
   }
   .navbar.responsive li {
      display: block;
      padding: 50px;
      font-size: 25px;
    }
    .navbar.responsive li a {
      display: block;
      text-align: center;
    }
    
    .navbar.responsive li a:hover{
      color:#17171e;
      border-bottom-color: transparent;
      
    }

}